<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yan.campusbbs">


    <!-- 读取SD卡状态所需权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取或更改系统设置 所需权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 手机震动所需权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 创建和删除文件所需权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 调用系统窗口所需权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 用户定位所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 相机的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序修改全局音频设置 比如说：存储位置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 录制语音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".ApplicationCampusBBS"
        android:allowBackup="true"
        android:icon="@drawable/campus_logo"
        android:persistent="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:icon, android:theme">

        <activity
            android:alwaysRetainTaskState="true"
            android:name=".FlashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustUnspecified|adjustPan" />

        <!--  消息收发service -->
        <service
            android:name="com.tencent.qalsdk.service.QalService"
            android:exported="false"
            android:process=":QALSERVICE" >
        </service>
        <!--  消息收发辅助service -->
        <service
            android:name="com.tencent.qalsdk.service.QalAssistService"
            android:exported="false"
            android:process=":QALSERVICE" >
        </service>
        <!--  离线消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.QALBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tencent.qalsdk.broadcast.qal" />
            </intent-filter>
        </receiver>
        <!--  系统消息广播接收器 -->
        <receiver
            android:name="com.tencent.qalsdk.core.NetConnInfoCenter"  android:process=":QALSERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".module.campusbbs.ui.publish.pic.PicActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".module.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.campusbbs.ui.selfcenter.SelfCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.campusbbs.ui.selfcenter.friend.FriendsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.campusbbs.ui.selfcenter.chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.campusbbs.ui.selfcenter.chat.NotifyChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.campusbbs.ui.common.topicdetail.TopicDetailActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.search.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.campusbbs.ui.selfcenter.message.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.campusbbs.ui.publish.PublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.selfcenter.ui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.filemanager.ui.IjkFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name=".module.campusbbs.ui.userinfo.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.selfcenter.ui.friendpage.FriendPageActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.yan.campusbbs.module.CampusBBSService"/>
    </application>

</manifest>